:root {
	box-sizing: border-box;
	--text-primary-color: white;
	--text-secondary-color: black;

	--background-primary: white;
	--background-secondary: black;

	--canvas-color: #e5e7eb;

	--button-color: #596d48;
	--border-default-color: #e5e7eb;

	--border-color: #e5e7eb;
	--border-focus: blue;
	--border-error: red;

	--error-color: red;

	--font-10: 0.7rem;
	--font-50: 0.8rem;
	--font-100: 1rem;
	--font-200: 1.5rem;
	--font-300: 2rem;
	--font-400: 2.5rem;
	--font-500: 5rem;
}

#dummy {
	color: white;
}

.hidden {
	display: none;
}

.visible {
	display: inline;
}

/*downloaded font*/
@font-face {
	font-family: Norse-Bold;
	src: url("./font/Norse-Bold.otf");
}

/*Css reset*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*styling */

#display-img {
	float: left;
	height: max(100vh, 660px);
	width: 35%;
}

#logo-bar {
	background: rgba(255, 255, 255, 0.1);
	/*tried several ways out this is ok fix but still dosnt feels the best*/
	padding: 5px;
	width: 35%;
	position: absolute;
	top: 15%;
	text-align: center;
	color: var(--text-primary-color);
	font-size: var(--font-500);
	font-family: Norse-Bold;
}

#logo {
	height: 80px;
	display: inline;
}
#canvas {
	float: right;
	height: max(100vh, 660px);
	width: 65%;
	background: var(--canvas-color);
	font-size: calc(2px + 1vw);
}

#intro {
	margin: 100px 300px 40px 40px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 20px;
}

#form-box {
	background: var(--background-primary);
	box-shadow: 0px 3px 5px 0px rgb(151, 148, 148);
	padding: 10px;
}

#form-box {
	padding: 10px 40px 20px 40px;
}

button {
	padding: 12px;
	background: var(--button-color);
	color: var(--text-primary-color);
	border-radius: 8px;
	width: 200px;
	border: none;
	box-shadow: 0px 3px 5px 0px rgb(151, 148, 148);
}

a {
	color: var(--button-color);
}

#first-name:focus {
	border-color: blue;
}
.form-closer {
	margin: 30px 0 0 40px;
	font-size: var(--font-100);
	cursor: pointer;
}

input {
	border: 1px solid var(--border-color);
	height: 25px;
	border-radius: 5px;
	padding-inline: 8px;
	width: 70%;
	display: block;
	font-weight: 700;
}
label {
	display: block;
}
input:focus {
	/**first remove outline*/
	outline: none;
	border: 2px solid blue;
	box-shadow: 0px 3px 5px 0px rgb(219, 219, 219);
}
#heading {
	margin: 10px;
}

.form-block {
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	font-size: var(--font-50);
	margin: 10px;
	display: inline-block;
	width: 40%;
}
/*
.form-block::after {
	content: "*hello world";
	font-size: var(--font-10);
	color: var(--error-color);
}
*/
/* learned about vi*/
/* someh u have to put the button within the*/

/*pending error class and pattern matching for password field*/

#email:focus-within:invalid {
	border-color: var(--border-error);
}

#shoutout {
	position: absolute;
	left: 0%;
	width: 35%;
	text-align: center;
	top: 96%;
	color: var(--text-primary-color);
	font-size: var(--font-50);
}

#country-code {
	display: inline-block;
	width: 10%;
}

#phone-number {
	display: inline-block;
	width: 54%;
}

#password-missmatch {
	padding: 5px;
	font-size: var(--font-10);
	color: var(--error-color);
}

@media (max-width: 900px) {
	#display-img {
		height: 80vh;
		width: 100%;
	}

	#logo-bar {
		background: rgba(255, 255, 255, 0.1);
		/*tried several ways out this is ok fix but still dosnt feels the best*/
		padding: 5px;
		width: 100%;
		position: absolute;
		top: 50%;
		text-align: center;
		color: var(--text-primary-color);
		font-size: var(--font-500);
		font-family: Norse-Bold;
	}

	#logo {
		height: 80px;
		display: inline;
	}

	#canvas {
		padding-bottom: 20px;
		width: 100%;
		background: var(--canvas-color);
		height: 100%;
		font-size: calc(8px + 1vw);
	}

	#intro {
		margin: 50px 100px 40px 40px;
		font-family: Arial, Helvetica, sans-serif;
		line-height: 20px;
	}

	.form-block {
		font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
			"Lucida Sans", Arial, sans-serif;
		font-size: var(--font-50);
		margin: 10px auto;
		width: 100%;
	}
	input {
		margin-top: 1%;
		width: 100%;
		height: 40px;
		padding: 0px;
	}
	#form-box {
		background: var(--background-primary);
		box-shadow: 0px 5px 10px 0px rgb(151, 148, 148);
		margin: 20px 5% 20px 5%;
		padding: 3% 6% 3% 6%;
		border-radius: 10px;
		height: max(100%, 800px);
	}

	.form-closer {
		display: block;
		width: 100%;
		margin: 0;
	}
	#submit-button {
		position: relative;
		margin: auto 20%;
		width: 60%;
		font-size: 18px;
	}

	#register-link {
		margin-block: 10px;
		text-align: center;
		font-size: var(--font-100);
	}

	#shoutout {
		position: absolute;
		left: 0%;
		width: 100%;
		text-align: center;
		top: 78%;
		color: var(--text-primary-color);
		font-size: var(--font-50);
	}
	#heading {
		font-size: var(--font-200);
		margin-left: 2%;
	}
}
